.progress {font-size: 30px}
.header {text-align: center; font-size: 40px}
.retest-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  }
.latency {
      font-size: 15px;
      background-color: lightgreen;
      position: relative;
      width: 40%;
      height: 65%;
      font-weight: bold;
      padding: 60px;
      margin: 0 auto;
      color: black;
  }
.intro {text-align: center; font-size: 18px}
.footer {text-align: center; font-size: 14px}
.documentation {text-align: center; font-size: 18px}
.lt1,.lt2,.progress {padding: 0px; margin: 0px;}
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
}
.download {
      background-color: lightgreen;
      position: relative;
      width: 40%;
      height: 65%;
      font-weight: bold;
      padding: 60px; 
      margin: 0 auto;
      color: black;
   }
