.progress {font-size: 30px}
.meow {text-align: center; font-size: 40px}
.me {background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }
.latency {font-size: 15px}
.desc {text-align: center; font-size: 18px}
.footer {text-align: center; font-size: 14px}
.documentation {text-align: center; font-size: 18px}
.lt1,.lt2,.lt3,.progress {padding: 0px; margin: 0px;}
